<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>org.mariadb.jdbc.Driver</driverClass>
			<url>jdbc:${MARIADB_URL}</url>
			<user>${MARIADB_USERNAME}</user>
			<password>${MARIADB_PASSWORD}</password>
		</connectionSource>
		<!--
		<connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
			<dataSource class="org.mariadb.jdbc.MariaDbPoolDataSource">
				<serverName>${MARIADB_HOST}</serverName>
				<serverName>127.0.0.1</serverName>
				<databaseName>${MARIADB_DATABASE}</databaseName>
			</dataSource>
			<user>${MARIADB_USERNAME}</user>
			<password>${MARIADB_PASSWORD}</password>
		</connectionSource>
		-->
	</appender>
	<!--
	<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
		<smtpHost>smtp.gmail.com</smtpHost>
		<smtpPort>587</smtpPort>
		<STARTTLS>true</STARTTLS>
		<username>YOUR_USERNAME@gmail.com</username>
		<password>YOUR_GMAIL_xPASSWORD</password>
		<to>EMAIL_DESTINATION</to>
		<from>YOUR_USERNAME@gmail.com</from>
		<subject>%logger{32} - %m</subject>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date %-5level %logger - %message%n</pattern>
		</layout>
	</appender>
	-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</Pattern>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="DB"/>
		<!--<appender-ref ref="EMAIL"/>-->
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>